In [1]:
import pandas as pd
import string
import random
import numpy as np
from random import sample

In [3]:
PATH_TO_FILE = "/home/patryk_patrykwrona/creditcard_delayed/creditcard.csv"
PATH_TO_FILE = "C:/Users/patry/Desktop/DS Workshop/ATO-data/data.csv"

data = pd.read_csv(PATH_TO_FILE)

In [4]:
data.head()

,data_donor_email,session_id,version,event_time,A_KEY_TIME_MEAN,BOTH_DEV_CC_COUNT,BOTH_DEV_C_COUNT,BOTH_DEV_M_COUNT,CLUSTERED_KEYS,CLUSTERED_NR_KEYS,...,MULTIPLE_KEYS_UP_D3,MULTIPLE_KEYS_UP_D4,MULTIPLE_KEYS_UP_D5,MULTIPLE_KEYS_UP_D6,MULTIPLE_KEYS_UP_D7,MULTIPLE_KEYS_UP_D8,MULTIPLE_KEYS_UP_D9,R_DELETE,R_DELETE_FREQ,S_KEY_TIME_MEAN
0,007f18a9c4040ebd5addaa48ec64a3b5,1,1,2019-03-27 12:14:35.244,0.125,NaN,0.000,NaN,NaN,NaN,...,1.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN
1,007f18a9c4040ebd5addaa48ec64a3b5,1,2,2019-03-27 12:14:46.028,0.116,0.0,0.000,NaN,NaN,NaN,...,1.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN
2,007f18a9c4040ebd5addaa48ec64a3b5,1,3,2019-03-27 12:15:02.077,0.117,0.0,0.000,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN
3,007f18a9c4040ebd5addaa48ec64a3b5,1,4,2019-03-27 12:15:12.212,0.114,0.0,0.167,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN
4,007f18a9c4040ebd5addaa48ec64a3b5,1,5,2019-03-27 12:15:22.236,0.110,0.0,0.125,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,3.0,3.0,NaN,NaN,NaN

In [8]:
data["primary_key"] = 0

In [9]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Class,primary_key
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0,0

In [5]:
def createPrimaryKey(x):
    return ''.join(random.choices(string.ascii_lowercase + string.digits, k=16))

In [7]:
data["primary_key"] = 0
random.seed(44)
data.primary_key = data.primary_key.map(lambda x: createPrimaryKey(x))

In [8]:
data.head()

,data_donor_email,session_id,version,event_time,A_KEY_TIME_MEAN,BOTH_DEV_CC_COUNT,BOTH_DEV_C_COUNT,BOTH_DEV_M_COUNT,CLUSTERED_KEYS,CLUSTERED_NR_KEYS,...,MULTIPLE_KEYS_UP_D4,MULTIPLE_KEYS_UP_D5,MULTIPLE_KEYS_UP_D6,MULTIPLE_KEYS_UP_D7,MULTIPLE_KEYS_UP_D8,MULTIPLE_KEYS_UP_D9,R_DELETE,R_DELETE_FREQ,S_KEY_TIME_MEAN,primary_key
0,007f18a9c4040ebd5addaa48ec64a3b5,1,1,2019-03-27 12:14:35.244,0.125,NaN,0.000,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,ot5gibeafs9ynoyl
1,007f18a9c4040ebd5addaa48ec64a3b5,1,2,2019-03-27 12:14:46.028,0.116,0.0,0.000,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,c4wecd8dw8bnr7gj
2,007f18a9c4040ebd5addaa48ec64a3b5,1,3,2019-03-27 12:15:02.077,0.117,0.0,0.000,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,iby3pbz0xl3wvtiq
3,007f18a9c4040ebd5addaa48ec64a3b5,1,4,2019-03-27 12:15:12.212,0.114,0.0,0.167,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,2ym34bfia1xt9mhe
4,007f18a9c4040ebd5addaa48ec64a3b5,1,5,2019-03-27 12:15:22.236,0.110,0.0,0.125,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,3.0,3.0,NaN,NaN,NaN,m4vcpbwegx4wkxja

In [9]:
data.shape

(21804, 115)

In [22]:
np.unique(data.primary_key)

array(['0004u9rebzeq6myr', '0005jg5bxberr8ab', '0006ictlbfppj0h6', ...,
       'zzzgwsm3xd3vvlsi', 'zzzm409na0q2dbih', 'zzzxsrzjx0vbgfml'],
      dtype=object)

In [10]:
len(np.unique(data.primary_key))

21804

In [45]:
sample(range(1,10), 5)

[8, 6, 5, 9, 4]

In [11]:
aux = sample(range(1,20), 8)
aux

[13, 5, 8, 19, 11, 3, 14, 7]

In [12]:
data.iloc[aux, :]

,data_donor_email,session_id,version,event_time,A_KEY_TIME_MEAN,BOTH_DEV_CC_COUNT,BOTH_DEV_C_COUNT,BOTH_DEV_M_COUNT,CLUSTERED_KEYS,CLUSTERED_NR_KEYS,...,MULTIPLE_KEYS_UP_D4,MULTIPLE_KEYS_UP_D5,MULTIPLE_KEYS_UP_D6,MULTIPLE_KEYS_UP_D7,MULTIPLE_KEYS_UP_D8,MULTIPLE_KEYS_UP_D9,R_DELETE,R_DELETE_FREQ,S_KEY_TIME_MEAN,primary_key
13,007f18a9c4040ebd5addaa48ec64a3b5,1,14,2019-03-27 12:16:57.714,0.104,0.000,0.143,NaN,NaN,True,...,2.0,2.0,2.0,3.0,3.0,3.0,NaN,NaN,0.184,7pa2kgwxlz5mravk
5,007f18a9c4040ebd5addaa48ec64a3b5,1,6,2019-03-27 12:15:32.303,0.107,0.000,0.200,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,3.0,4.0,NaN,NaN,NaN,jywg43k8jcs5vtrk
8,007f18a9c4040ebd5addaa48ec64a3b5,1,9,2019-03-27 12:16:04.313,0.107,0.000,0.125,NaN,NaN,NaN,...,2.0,2.0,2.0,3.0,3.0,4.0,NaN,NaN,0.169,r6c67y2n80yqhy0a
19,007f18a9c4040ebd5addaa48ec64a3b5,1,20,2019-03-27 12:18:02.674,0.102,0.071,0.161,NaN,NaN,NaN,...,2.0,2.0,2.0,3.0,3.0,3.0,NaN,NaN,0.174,x8l0kv6qw9ri8ylj
11,007f18a9c4040ebd5addaa48ec64a3b5,1,12,2019-03-27 12:16:36.882,0.106,0.000,0.158,NaN,NaN,NaN,...,2.0,2.0,2.0,3.0,3.0,3.0,NaN,NaN,0.183,53ijfjo2xggq6r2y
3,007f18a9c4040ebd5addaa48ec64a3b5,1,4,2019-03-27 12:15:12.212,0.114,0.000,0.167,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,2ym34bfia1xt9mhe
14,007f18a9c4040ebd5addaa48ec64a3b5,1,15,2019-03-27 12:17:07.731,0.104,0.000,0.136,NaN,NaN,NaN,...,2.0,2.0,2.0,3.0,3.0,3.0,NaN,NaN,0.183,x1my7g2r7cnfj6tm
7,007f18a9c4040ebd5addaa48ec64a3b5,1,8,2019-03-27 12:15:53.300,0.108,0.000,0.143,NaN,NaN,NaN,...,2.0,2.0,2.0,3.0,3.0,3.0,NaN,NaN,0.186,t3izucjof7jivsll

In [15]:
labels = data.iloc[aux, -2]

In [16]:
labels

13    0.184
5       NaN
8     0.169
19    0.174
11    0.183
3       NaN
14    0.183
7     0.186
Name: S_KEY_TIME_MEAN, dtype: float64

In [17]:
additional_data = data.iloc[aux, :]

In [24]:
additional_data.loc[aux,:-2] = None

C:\Users\patry\AppData\Local\Temp\ipykernel_33124\4152245249.py:1: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  additional_data.loc[aux,:-2] = None

In [26]:
additional_data

,data_donor_email,session_id,version,event_time,A_KEY_TIME_MEAN,BOTH_DEV_CC_COUNT,BOTH_DEV_C_COUNT,BOTH_DEV_M_COUNT,CLUSTERED_KEYS,CLUSTERED_NR_KEYS,...,MULTIPLE_KEYS_UP_D4,MULTIPLE_KEYS_UP_D5,MULTIPLE_KEYS_UP_D6,MULTIPLE_KEYS_UP_D7,MULTIPLE_KEYS_UP_D8,MULTIPLE_KEYS_UP_D9,R_DELETE,R_DELETE_FREQ,S_KEY_TIME_MEAN,primary_key
13,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.184,7pa2kgwxlz5mravk
5,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,jywg43k8jcs5vtrk
8,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.169,r6c67y2n80yqhy0a
19,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.174,x8l0kv6qw9ri8ylj
11,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.183,53ijfjo2xggq6r2y
3,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,2ym34bfia1xt9mhe
14,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.183,x1my7g2r7cnfj6tm
7,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.186,t3izucjof7jivsll

In [27]:
data.append(additional_data, ignore_index=True)

C:\Users\patry\AppData\Local\Temp\ipykernel_33124\487479409.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data.append(additional_data, ignore_index=True)

,data_donor_email,session_id,version,event_time,A_KEY_TIME_MEAN,BOTH_DEV_CC_COUNT,BOTH_DEV_C_COUNT,BOTH_DEV_M_COUNT,CLUSTERED_KEYS,CLUSTERED_NR_KEYS,...,MULTIPLE_KEYS_UP_D4,MULTIPLE_KEYS_UP_D5,MULTIPLE_KEYS_UP_D6,MULTIPLE_KEYS_UP_D7,MULTIPLE_KEYS_UP_D8,MULTIPLE_KEYS_UP_D9,R_DELETE,R_DELETE_FREQ,S_KEY_TIME_MEAN,primary_key
0,007f18a9c4040ebd5addaa48ec64a3b5,1.0,1.0,2019-03-27 12:14:35.244,0.125,NaN,0.000,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,ot5gibeafs9ynoyl
1,007f18a9c4040ebd5addaa48ec64a3b5,1.0,2.0,2019-03-27 12:14:46.028,0.116,0.0,0.000,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,c4wecd8dw8bnr7gj
2,007f18a9c4040ebd5addaa48ec64a3b5,1.0,3.0,2019-03-27 12:15:02.077,0.117,0.0,0.000,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,iby3pbz0xl3wvtiq
3,007f18a9c4040ebd5addaa48ec64a3b5,1.0,4.0,2019-03-27 12:15:12.212,0.114,0.0,0.167,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,2ym34bfia1xt9mhe
4,007f18a9c4040ebd5addaa48ec64a3b5,1.0,5.0,2019-03-27 12:15:22.236,0.110,0.0,0.125,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,3.0,3.0,NaN,NaN,NaN,m4vcpbwegx4wkxja
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21807,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.174,x8l0kv6qw9ri8ylj
21808,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.183,53ijfjo2xggq6r2y
21809,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,2ym34bfia1xt9mhe
21810,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.183,x1my7g2r7cnfj6tm
21811,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.186,t3izucjof7jivsll

In [29]:
data.head(7)

,data_donor_email,session_id,version,event_time,A_KEY_TIME_MEAN,BOTH_DEV_CC_COUNT,BOTH_DEV_C_COUNT,BOTH_DEV_M_COUNT,CLUSTERED_KEYS,CLUSTERED_NR_KEYS,...,MULTIPLE_KEYS_UP_D4,MULTIPLE_KEYS_UP_D5,MULTIPLE_KEYS_UP_D6,MULTIPLE_KEYS_UP_D7,MULTIPLE_KEYS_UP_D8,MULTIPLE_KEYS_UP_D9,R_DELETE,R_DELETE_FREQ,S_KEY_TIME_MEAN,primary_key
0,007f18a9c4040ebd5addaa48ec64a3b5,1,1,2019-03-27 12:14:35.244,0.125,NaN,0.000,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,ot5gibeafs9ynoyl
1,007f18a9c4040ebd5addaa48ec64a3b5,1,2,2019-03-27 12:14:46.028,0.116,0.0,0.000,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,c4wecd8dw8bnr7gj
2,007f18a9c4040ebd5addaa48ec64a3b5,1,3,2019-03-27 12:15:02.077,0.117,0.0,0.000,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,iby3pbz0xl3wvtiq
3,007f18a9c4040ebd5addaa48ec64a3b5,1,4,2019-03-27 12:15:12.212,0.114,0.0,0.167,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,2ym34bfia1xt9mhe
4,007f18a9c4040ebd5addaa48ec64a3b5,1,5,2019-03-27 12:15:22.236,0.110,0.0,0.125,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,3.0,3.0,NaN,NaN,NaN,m4vcpbwegx4wkxja
5,007f18a9c4040ebd5addaa48ec64a3b5,1,6,2019-03-27 12:15:32.303,0.107,0.0,0.200,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,3.0,4.0,NaN,NaN,NaN,jywg43k8jcs5vtrk
6,007f18a9c4040ebd5addaa48ec64a3b5,1,7,2019-03-27 12:15:43.074,0.106,0.0,0.167,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,3.0,4.0,NaN,NaN,0.142,kot7cj7xcpx6d61k

In [33]:
data.columns[-2]

'primary_key'

In [34]:


data.loc[aux,data.columns[-2]] = None

In [35]:
data.head(8)

,data_donor_email,session_id,version,event_time,A_KEY_TIME_MEAN,BOTH_DEV_CC_COUNT,BOTH_DEV_C_COUNT,BOTH_DEV_M_COUNT,CLUSTERED_KEYS,CLUSTERED_NR_KEYS,...,MULTIPLE_KEYS_UP_D5,MULTIPLE_KEYS_UP_D6,MULTIPLE_KEYS_UP_D7,MULTIPLE_KEYS_UP_D8,MULTIPLE_KEYS_UP_D9,R_DELETE,R_DELETE_FREQ,S_KEY_TIME_MEAN,primary_key,-2
0,007f18a9c4040ebd5addaa48ec64a3b5,1,1,2019-03-27 12:14:35.244,0.125,NaN,0.000,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,ot5gibeafs9ynoyl,NaN
1,007f18a9c4040ebd5addaa48ec64a3b5,1,2,2019-03-27 12:14:46.028,0.116,0.0,0.000,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,c4wecd8dw8bnr7gj,NaN
2,007f18a9c4040ebd5addaa48ec64a3b5,1,3,2019-03-27 12:15:02.077,0.117,0.0,0.000,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,iby3pbz0xl3wvtiq,NaN
3,007f18a9c4040ebd5addaa48ec64a3b5,1,4,2019-03-27 12:15:12.212,0.114,0.0,0.167,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,2ym34bfia1xt9mhe,NaN
4,007f18a9c4040ebd5addaa48ec64a3b5,1,5,2019-03-27 12:15:22.236,0.110,0.0,0.125,NaN,NaN,NaN,...,2.0,2.0,2.0,3.0,3.0,NaN,NaN,NaN,m4vcpbwegx4wkxja,NaN
5,007f18a9c4040ebd5addaa48ec64a3b5,1,6,2019-03-27 12:15:32.303,0.107,0.0,0.200,NaN,NaN,NaN,...,2.0,2.0,2.0,3.0,4.0,NaN,NaN,NaN,jywg43k8jcs5vtrk,NaN
6,007f18a9c4040ebd5addaa48ec64a3b5,1,7,2019-03-27 12:15:43.074,0.106,0.0,0.167,NaN,NaN,NaN,...,2.0,2.0,2.0,3.0,4.0,NaN,NaN,0.142,kot7cj7xcpx6d61k,NaN
7,007f18a9c4040ebd5addaa48ec64a3b5,1,8,2019-03-27 12:15:53.300,0.108,0.0,0.143,NaN,NaN,NaN,...,2.0,2.0,3.0,3.0,3.0,NaN,NaN,NaN,t3izucjof7jivsll,NaN

In [67]:
import pandas as pd
import string
import random
import numpy as np
from random import sample

def createPrimaryKey(x):
    return ''.join(random.choices(string.ascii_lowercase + string.digits, k=16))

def delayData(data, n_of_delayed):
    data["primary_key"] = 0
    random.seed(44)
    data.primary_key = data.primary_key.map(lambda x: createPrimaryKey(x))
    
    aux = sample(range(0,data.shape[0]), n_of_delayed)
    additional_data = data.iloc[aux, :]

    additional_data.loc[aux, data.columns[:-2]] = None
    data = data.append(additional_data, ignore_index=True)
    data.loc[aux, data.columns[-2]] = None
    return data

In [68]:

data = pd.read_csv(PATH_TO_FILE)
data2 = delayData(data, 5000)

C:\Users\patry\AppData\Local\Temp\ipykernel_33124\20285739.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(additional_data, ignore_index=True)

In [69]:
data2.shape

(26804, 115)

In [72]:
data2.iloc[12647,:]

data_donor_email       c973e06a836056f5234a6f50cc556b73
session_id                                          1.0
version                                            29.0
event_time                      2019-07-08 08:37:33.971
A_KEY_TIME_MEAN                                   0.087
                                     ...
MULTIPLE_KEYS_UP_D9                                 2.0
R_DELETE                                            NaN
R_DELETE_FREQ                                       NaN
S_KEY_TIME_MEAN                                     NaN
primary_key                            shis2w4rygia17ih
Name: 12647, Length: 115, dtype: object

In [73]:
data2.iloc[21804,:]

data_donor_email                   None
session_id                          NaN
version                             NaN
event_time                         None
A_KEY_TIME_MEAN                     NaN
                             ...
MULTIPLE_KEYS_UP_D9                 NaN
R_DELETE                           None
R_DELETE_FREQ                       NaN
S_KEY_TIME_MEAN                    0.37
primary_key            shis2w4rygia17ih
Name: 21804, Length: 115, dtype: object

In [70]:
data.shape

(21804, 115)

In [56]:
data = pd.read_csv(PATH_TO_FILE)
data.shape

(21804, 114)

In [58]:
n_of_delayed = 5000
data["primary_key"] = 0
random.seed(44)
data.primary_key = data.primary_key.map(lambda x: createPrimaryKey(x))

aux = sample(range(0,data.shape[0]), n_of_delayed)
additional_data = data.iloc[aux, :]

In [60]:
aux

[12647,
 5106,
 7912,
 13251,
 20542,
 4955,
 5900,
 13495,
 2856,
 16419,
 3467,
 16630,
 5220,
 3220,
 9794,
 15184,
 6528,
 11704,
 5883,
 4193,
 5364,
 19839,
 8414,
 19218,
 12444,
 20344,
 9432,
 17999,
 4540,
 16817,
 7400,
 18625,
 13185,
 12935,
 2353,
 14852,
 3864,
 16885,
 10149,
 7639,
 10070,
 11100,
 11481,
 6104,
 16670,
 21261,
 17334,
 2532,
 12420,
 1187,
 15481,
 1977,
 4205,
 5536,
 1558,
 9099,
 17441,
 8161,
 2176,
 21187,
 18951,
 15999,
 9989,
 10865,
 16982,
 9609,
 20372,
 8277,
 3741,
 4445,
 17230,
 16294,
 7809,
 7595,
 13955,
 19553,
 4288,
 9421,
 9391,
 18522,
 3835,
 9271,
 1366,
 16251,
 10262,
 8780,
 12200,
 6150,
 8494,
 852,
 4156,
 16262,
 3116,
 3862,
 19100,
 10365,
 7128,
 17513,
 6551,
 10412,
 13851,
 2799,
 8316,
 10736,
 4734,
 20537,
 6639,
 3014,
 15112,
 1026,
 18448,
 17688,
 5913,
 18434,
 13381,
 19275,
 13901,
 3142,
 9219,
 12425,
 11628,
 752,
 9538,
 18941,
 13468,
 14382,
 4827,
 13713,
 13931,
 13918,
 12751,
 15179,
 1854,
 15944,
 698,
 956,
 11257,
 4691,
 2295,
 10249,
 8513,
 5278,
 17743,
 15404,
 11672,
 18467,
 11673,
 7951,
 8712,
 13313,
 8013,
 13173,
 12049,
 7982,
 10067,
 930,
 1512,
 5098,
 21031,
 21608,
 11007,
 18543,
 15942,
 14096,
 15309,
 9199,
 4921,
 13186,
 9264,
 615,
 2390,
 19976,
 17400,
 16011,
 8655,
 8794,
 944,
 19534,
 15490,
 21139,
 12266,
 9807,
 6712,
 17996,
 9139,
 11341,
 3159,
 13681,
 14115,
 14970,
 9851,
 5138,
 7917,
 16844,
 8368,
 3457,
 9771,
 21674,
 16031,
 18137,
 2709,
 2050,
 2580,
 20008,
 1536,
 13622,
 4572,
 16668,
 10342,
 21742,
 3872,
 19686,
 18641,
 10279,
 19997,
 14712,
 11625,
 14025,
 20543,
 6231,
 10875,
 5089,
 13400,
 13699,
 16715,
 20536,
 16894,
 18598,
 2357,
 1600,
 8010,
 5647,
 15646,
 19890,
 13262,
 2413,
 11310,
 13830,
 5292,
 16029,
 1889,
 15675,
 5397,
 4210,
 8334,
 7987,
 10100,
 4918,
 8296,
 10068,
 11416,
 11573,
 4089,
 13093,
 10176,
 13132,
 7075,
 12666,
 19562,
 6093,
 12945,
 579,
 1704,
 17593,
 13685,
 5758,
 10921,
 5757,
 10908,
 10967,
 10093,
 3430,
 20101,
 14902,
 3781,
 20882,
 21339,
 734,
 11865,
 18862,
 19293,
 9930,
 989,
 6460,
 16785,
 3329,
 16485,
 20308,
 2334,
 16969,
 14872,
 17964,
 9354,
 21663,
 3190,
 6458,
 13978,
 16481,
 19139,
 20792,
 6457,
 21447,
 3793,
 20227,
 1322,
 5492,
 7035,
 10126,
 12259,
 371,
 11803,
 19640,
 6803,
 18530,
 15307,
 5489,
 14820,
 21381,
 4309,
 1542,
 207,
 18672,
 9529,
 3360,
 9423,
 11925,
 10277,
 10054,
 5686,
 11596,
 15296,
 15102,
 958,
 8410,
 4339,
 14974,
 3028,
 9766,
 4788,
 866,
 13372,
 5630,
 4795,
 4920,
 360,
 10197,
 7846,
 5281,
 1280,
 19389,
 7332,
 4748,
 14142,
 11105,
 14401,
 1372,
 12480,
 9541,
 2539,
 1729,
 10269,
 18354,
 21295,
 19138,
 7194,
 4292,
 16308,
 7631,
 7985,
 389,
 9317,
 10430,
 6354,
 6625,
 12617,
 719,
 3626,
 18658,
 19290,
 20025,
 19848,
 20207,
 931,
 8430,
 16423,
 12982,
 4616,
 9591,
 5593,
 19616,
 6939,
 8231,
 16747,
 12878,
 7588,
 20565,
 12890,
 16959,
 1770,
 4113,
 4946,
 18252,
 12035,
 149,
 6366,
 19998,
 11841,
 14354,
 5232,
 18151,
 12721,
 7981,
 4447,
 15113,
 13819,
 9864,
 4492,
 16354,
 3068,
 11939,
 15531,
 3108,
 3322,
 11779,
 10852,
 5963,
 6394,
 14941,
 20589,
 11909,
 20914,
 8753,
 7883,
 20816,
 2419,
 20459,
 12457,
 5610,
 17794,
 16804,
 2971,
 2758,
 16394,
 777,
 17112,
 15056,
 20917,
 16403,
 12398,
 17998,
 9416,
 4381,
 9310,
 5149,
 3380,
 7561,
 17108,
 5224,
 19677,
 15555,
 4555,
 2681,
 17196,
 16198,
 16193,
 4867,
 17275,
 16126,
 12134,
 11489,
 10953,
 13739,
 5495,
 4102,
 2643,
 6580,
 12308,
 4529,
 9595,
 13000,
 489,
 21245,
 9087,
 909,
 9212,
 14494,
 5897,
 7692,
 14516,
 18868,
 20839,
 8704,
 9122,
 583,
 17054,
 1998,
 422,
 20044,
 11975,
 13666,
 305,
 2700,
 21252,
 21047,
 6550,
 3103,
 5341,
 10382,
 18318,
 10381,
 6057,
 1566,
 4664,
 17318,
 5553,
 18305,
 69,
 1444,
 4271,
 8542,
 1369,
 12312,
 1912,
 12537,
 21028,
 21707,
 9607,
 14581,
 3879,
 4830,
 1843,
 16786,
 18360,
 7242,
 15865,
 20270,
 9997,
 12061,
 2654,
 8886,
 4987,
 14654,
 5413,
 6338,
 7794,
 2370,
 15146,
 19726,
 1700,
 2640,
 12903,
 21327,
 11010,
 18877,
 4482,
 12964,
 963,
 9598,
 7407,
 6755,
 12119,
 16270,
 2575,
 13976,
 14538,
 13442,
 2079,
 18866,
 6008,
 15899,
 18053,
 6866,
 16346,
 11281,
 19691,
 10131,
 8878,
 9720,
 1046,
 19425,
 14620,
 16183,
 14303,
 16097,
 20283,
 11022,
 19629,
 11224,
 20276,
 8566,
 13223,
 16287,
 8080,
 16479,
 10401,
 10649,
 21578,
 3902,
 19464,
 2162,
 16823,
 8721,
 16455,
 6151,
 21346,
 15956,
 10620,
 2328,
 20886,
 3485,
 5215,
 20859,
 925,
 4354,
 14345,
 19444,
 1331,
 14638,
 8671,
 1257,
 70,
 17040,
 7714,
 3618,
 12130,
 10659,
 21573,
 5555,
 11544,
 1853,
 13613,
 3895,
 13449,
 11256,
 6242,
 7061,
 13397,
 191,
 93,
 19759,
 17003,
 3443,
 17485,
 14395,
 13829,
 17716,
 15941,
 20969,
 7768,
 4104,
 5905,
 20179,
 19356,
 15318,
 7058,
 477,
 3580,
 6957,
 9490,
 20099,
 14588,
 14125,
 5261,
 911,
 21611,
 18112,
 12394,
 4454,
 1498,
 838,
 4866,
 21177,
 9217,
 12971,
 19927,
 706,
 3508,
 13074,
 8310,
 3247,
 2870,
 8275,
 1788,
 380,
 17321,
 13682,
 4762,
 3812,
 16492,
 8374,
 18409,
 2429,
 1153,
 15045,
 1419,
 15035,
 4635,
 16780,
 3943,
 17317,
 11978,
 2901,
 9194,
 18028,
 2045,
 20491,
 11566,
 592,
 9853,
 20174,
 1078,
 11118,
 10154,
 20695,
 17354,
 6753,
 12985,
 7053,
 5767,
 20762,
 3507,
 3109,
 18646,
 14293,
 368,
 17106,
 3237,
 11813,
 1071,
 8471,
 1252,
 12909,
 14999,
 8993,
 1019,
 19201,
 14480,
 7503,
 15399,
 18120,
 5010,
 9966,
 19546,
 2119,
 11990,
 20713,
 15162,
 2635,
 16526,
 7818,
 1691,
 10699,
 9905,
 18204,
 5534,
 5850,
 18155,
 4685,
 4247,
 12070,
 18946,
 9584,
 7405,
 3716,
 15859,
 17735,
 454,
 13039,
 12703,
 6146,
 13007,
 13694,
 13607,
 5663,
 11046,
 50,
 2046,
 9536,
 7095,
 9775,
 2416,
 11548,
 21633,
 14182,
 9722,
 14576,
 4393,
 6627,
 19390,
 21787,
 3474,
 9044,
 14889,
 13026,
 988,
 6137,
 20858,
 13041,
 19992,
 18430,
 4491,
 11143,
 19357,
 1586,
 2555,
 6300,
 11111,
 14744,
 17294,
 9902,
 3807,
 21541,
 6206,
 12237,
 17279,
 12421,
 10661,
 19770,
 21686,
 9975,
 16531,
 17167,
 17826,
 12976,
 20050,
 1812,
 709,
 17585,
 14058,
 17622,
 16225,
 2950,
 20813,
 18703,
 16879,
 9105,
 20481,
 4800,
 19030,
 15933,
 3817,
 251,
 10105,
 19569,
 13360,
 1782,
 9405,
 15055,
 9564,
 20767,
 3100,
 2363,
 5455,
 18284,
 15582,
 18042,
 11747,
 2600,
 18657,
 9863,
 21528,
 12642,
 1335,
 5549,
 18000,
 4948,
 204,
 547,
 7152,
 13990,
 11186,
 17222,
 5847,
 11821,
 13322,
 6562,
 10739,
 8363,
 1710,
 9247,
 2973,
 21561,
 9186,
 9392,
 15520,
 7986,
 13769,
 11838,
 17253,
 3608,
 11202,
 4403,
 11280,
 18825,
 18531,
 21533,
 15356,
 15579,
 10056,
 21702,
 15914,
 14187,
 7549,
 5424,
 12805,
 8857,
 20700,
 13719,
 8218,
 21586,
 15672,
 3274,
 4832,
 12835,
 1652,
 6023,
 14551,
 20674,
 13519,
 5666,
 969,
 7463,
 321,
 12432,
 14473,
 19781,
 9992,
 59,
 21204,
 21666,
 4320,
 844,
 20162,
 15109,
 14656,
 14920,
 6934,
 20232,
 9289,
 3453,
 16489,
 17906,
 3993,
 21011,
 8012,
 17817,
 19810,
 7574,
 3734,
 3771,
 5943,
 16033,
 16604,
 9907,
 10293,
 6208,
 8084,
 8926,
 2687,
 14419,
 13184,
 15815,
 19856,
 6618,
 19923,
 8510,
 4547,
 2255,
 12031,
 10954,
 4564,
 4644,
 20776,
 9943,
 8346,
 12392,
 6425,
 13484,
 8114,
 1079,
 17744,
 15642,
 12718,
 8999,
 504,
 14601,
 18623,
 8177,
 12157,
 14311,
 16406,
 4990,
 18335,
 7366,
 5947,
 16461,
 18980,
 21380,
 2273,
 7420,
 ...]

In [62]:
additional_data.loc[aux, data.columns[:-2]] = None
additional_data

,data_donor_email,session_id,version,event_time,A_KEY_TIME_MEAN,BOTH_DEV_CC_COUNT,BOTH_DEV_C_COUNT,BOTH_DEV_M_COUNT,CLUSTERED_KEYS,CLUSTERED_NR_KEYS,...,MULTIPLE_KEYS_UP_D4,MULTIPLE_KEYS_UP_D5,MULTIPLE_KEYS_UP_D6,MULTIPLE_KEYS_UP_D7,MULTIPLE_KEYS_UP_D8,MULTIPLE_KEYS_UP_D9,R_DELETE,R_DELETE_FREQ,S_KEY_TIME_MEAN,primary_key
12647,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.370,shis2w4rygia17ih
5106,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.582,genkctzwgx0gw61e
7912,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.248,6abl34v6utp8ds2r
13251,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.405,7nyhpe9o9mtl78v4
20542,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.378,9uhofti4eyew520u
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.341,tunxihmfka5nadyb
3391,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,gzluz0l327gmath1
15636,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,kpmmbiiuo7j42n5k
11307,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,a65z90hc10gul7je
11292,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,jfln8j3a0jzt9nec

In [63]:
data.append(additional_data, ignore_index=True)

C:\Users\patry\AppData\Local\Temp\ipykernel_33124\487479409.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data.append(additional_data, ignore_index=True)

,data_donor_email,session_id,version,event_time,A_KEY_TIME_MEAN,BOTH_DEV_CC_COUNT,BOTH_DEV_C_COUNT,BOTH_DEV_M_COUNT,CLUSTERED_KEYS,CLUSTERED_NR_KEYS,...,MULTIPLE_KEYS_UP_D4,MULTIPLE_KEYS_UP_D5,MULTIPLE_KEYS_UP_D6,MULTIPLE_KEYS_UP_D7,MULTIPLE_KEYS_UP_D8,MULTIPLE_KEYS_UP_D9,R_DELETE,R_DELETE_FREQ,S_KEY_TIME_MEAN,primary_key
0,007f18a9c4040ebd5addaa48ec64a3b5,1.0,1.0,2019-03-27 12:14:35.244,0.125,NaN,0.000,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,ot5gibeafs9ynoyl
1,007f18a9c4040ebd5addaa48ec64a3b5,1.0,2.0,2019-03-27 12:14:46.028,0.116,0.0,0.000,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,c4wecd8dw8bnr7gj
2,007f18a9c4040ebd5addaa48ec64a3b5,1.0,3.0,2019-03-27 12:15:02.077,0.117,0.0,0.000,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,iby3pbz0xl3wvtiq
3,007f18a9c4040ebd5addaa48ec64a3b5,1.0,4.0,2019-03-27 12:15:12.212,0.114,0.0,0.167,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,2ym34bfia1xt9mhe
4,007f18a9c4040ebd5addaa48ec64a3b5,1.0,5.0,2019-03-27 12:15:22.236,0.110,0.0,0.125,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,3.0,3.0,NaN,NaN,NaN,m4vcpbwegx4wkxja
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26799,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,0.341,tunxihmfka5nadyb
26800,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,gzluz0l327gmath1
26801,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,kpmmbiiuo7j42n5k
26802,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,a65z90hc10gul7je
26803,None,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,jfln8j3a0jzt9nec

In [64]:
data

,data_donor_email,session_id,version,event_time,A_KEY_TIME_MEAN,BOTH_DEV_CC_COUNT,BOTH_DEV_C_COUNT,BOTH_DEV_M_COUNT,CLUSTERED_KEYS,CLUSTERED_NR_KEYS,...,MULTIPLE_KEYS_UP_D4,MULTIPLE_KEYS_UP_D5,MULTIPLE_KEYS_UP_D6,MULTIPLE_KEYS_UP_D7,MULTIPLE_KEYS_UP_D8,MULTIPLE_KEYS_UP_D9,R_DELETE,R_DELETE_FREQ,S_KEY_TIME_MEAN,primary_key
0,007f18a9c4040ebd5addaa48ec64a3b5,1,1,2019-03-27 12:14:35.244,0.125,NaN,0.000,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,ot5gibeafs9ynoyl
1,007f18a9c4040ebd5addaa48ec64a3b5,1,2,2019-03-27 12:14:46.028,0.116,0.000,0.000,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,c4wecd8dw8bnr7gj
2,007f18a9c4040ebd5addaa48ec64a3b5,1,3,2019-03-27 12:15:02.077,0.117,0.000,0.000,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,iby3pbz0xl3wvtiq
3,007f18a9c4040ebd5addaa48ec64a3b5,1,4,2019-03-27 12:15:12.212,0.114,0.000,0.167,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,2ym34bfia1xt9mhe
4,007f18a9c4040ebd5addaa48ec64a3b5,1,5,2019-03-27 12:15:22.236,0.110,0.000,0.125,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,3.0,3.0,NaN,NaN,NaN,m4vcpbwegx4wkxja
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21799,f690d1438368d0b3ea405a28e1aa0e2c,1,89,2019-10-30 15:40:33.240,0.099,0.688,0.750,NaN,True,True,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,0.374,gm7aobfsjvcz35v2
21800,f690d1438368d0b3ea405a28e1aa0e2c,1,90,2019-10-30 15:40:43.441,0.099,0.688,0.750,NaN,True,True,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,0.355,1oa0znlatiwdx92f
21801,f690d1438368d0b3ea405a28e1aa0e2c,1,91,2019-10-30 15:40:54.138,0.099,0.673,0.755,NaN,NaN,NaN,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,0.355,80qwzdirbarwuove
21802,f690d1438368d0b3ea405a28e1aa0e2c,1,92,2019-10-30 15:41:04.318,0.100,0.673,0.755,NaN,True,True,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,0.360,ln9f7cmzo0ingeq5
21803,f690d1438368d0b3ea405a28e1aa0e2c,1,93,2019-10-30 15:41:14.619,0.100,0.680,0.760,NaN,True,True,...,1.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,0.363,6ggx9x949w6muzj9

In [ ]:
print(additional_data.head())
additional_data.loc[aux, data.columns[:-2]] = None
data.append(additional_data, ignore_index=True)
data.loc[aux, data.columns[-2]] = None

In [55]:
additional_data.shape

(5000, 115)

In [54]:
data.shape

(21804, 115)

In [42]:
sample(range(0,data.shape[0]), 5000)

[2587,
 4865,
 15882,
 14724,
 14822,
 18864,
 13687,
 15325,
 14580,
 12503,
 2830,
 7954,
 6150,
 18589,
 21663,
 6194,
 15006,
 20080,
 21241,
 9345,
 16830,
 5153,
 16158,
 10968,
 9535,
 2046,
 12073,
 17964,
 13523,
 7910,
 15029,
 19011,
 18656,
 14753,
 9770,
 9313,
 20509,
 11067,
 9768,
 13843,
 21192,
 11113,
 8216,
 21434,
 6377,
 7823,
 192,
 13546,
 11339,
 5267,
 15500,
 18705,
 13597,
 7628,
 7416,
 19398,
 8149,
 10038,
 1677,
 18058,
 15609,
 4838,
 3965,
 18886,
 3173,
 16492,
 17201,
 12299,
 2847,
 5936,
 18129,
 10519,
 7962,
 12673,
 6762,
 4334,
 6860,
 9228,
 20731,
 20890,
 3249,
 830,
 14160,
 5057,
 16393,
 21340,
 20774,
 16244,
 20586,
 16089,
 8044,
 7385,
 10210,
 6787,
 5719,
 14346,
 4376,
 14744,
 17618,
 13170,
 9335,
 2034,
 14869,
 7065,
 2540,
 8980,
 8684,
 20295,
 9234,
 7250,
 14710,
 2424,
 14701,
 232,
 14284,
 3273,
 1185,
 18724,
 13355,
 16514,
 18998,
 7118,
 15156,
 18412,
 9310,
 14384,
 13430,
 5735,
 17208,
 19408,
 4754,
 15463,
 14963,
 8546,
 17815,
 10165,
 8349,
 14245,
 15985,
 13620,
 4505,
 10826,
 8327,
 14885,
 17189,
 12987,
 1344,
 15471,
 15804,
 19956,
 3395,
 2995,
 19553,
 13169,
 11338,
 7432,
 6714,
 10854,
 2400,
 815,
 13993,
 18985,
 13152,
 13764,
 20687,
 20195,
 16936,
 15055,
 13428,
 19504,
 1802,
 8162,
 1774,
 12660,
 13098,
 14397,
 8472,
 6927,
 2953,
 1172,
 16184,
 13326,
 20987,
 10167,
 9631,
 20673,
 2929,
 9671,
 16281,
 14302,
 18213,
 9841,
 4512,
 13744,
 18212,
 726,
 9239,
 16347,
 20805,
 17357,
 19728,
 18302,
 6305,
 16896,
 9181,
 20682,
 16584,
 4733,
 20718,
 15532,
 7137,
 9842,
 20508,
 1995,
 2184,
 6459,
 953,
 1407,
 9373,
 18763,
 17763,
 174,
 807,
 9546,
 10384,
 18535,
 10961,
 8648,
 17644,
 11013,
 6826,
 17995,
 11505,
 4595,
 10559,
 21272,
 10154,
 2733,
 1485,
 12836,
 7531,
 9529,
 6557,
 3640,
 17266,
 15149,
 11064,
 5269,
 15774,
 12309,
 12742,
 3857,
 15785,
 11007,
 3008,
 13539,
 21320,
 10549,
 7173,
 11922,
 21163,
 10829,
 13724,
 5264,
 1111,
 15703,
 10692,
 3708,
 18613,
 17520,
 6383,
 739,
 8983,
 10781,
 3842,
 562,
 3642,
 2173,
 13275,
 12155,
 813,
 18676,
 19968,
 1280,
 10483,
 20490,
 18552,
 15402,
 6978,
 4239,
 3722,
 13248,
 1223,
 1580,
 4076,
 14570,
 16967,
 12440,
 21484,
 20465,
 1041,
 15682,
 4562,
 7922,
 9820,
 20684,
 1935,
 1605,
 2289,
 12816,
 5308,
 13017,
 1230,
 18413,
 8184,
 8629,
 12052,
 7224,
 6584,
 8707,
 1965,
 9244,
 2066,
 10999,
 1255,
 8084,
 10849,
 18649,
 3937,
 19013,
 18251,
 19602,
 12648,
 19524,
 12686,
 14747,
 10128,
 9649,
 10066,
 19150,
 9741,
 6771,
 10556,
 11121,
 17059,
 2900,
 11762,
 18322,
 21770,
 850,
 21047,
 13542,
 16083,
 17263,
 1105,
 17516,
 12418,
 13452,
 10329,
 3523,
 20974,
 13574,
 5939,
 8347,
 5440,
 56,
 19486,
 21619,
 6560,
 4066,
 11003,
 440,
 10195,
 89,
 2215,
 20656,
 18225,
 1638,
 13565,
 15722,
 15000,
 13237,
 21768,
 5383,
 16902,
 7434,
 7151,
 10467,
 2044,
 20211,
 16426,
 5583,
 12251,
 14330,
 19510,
 21465,
 5944,
 20755,
 14112,
 14559,
 9761,
 7133,
 13063,
 8374,
 13184,
 709,
 11723,
 13091,
 17947,
 10186,
 14900,
 16728,
 286,
 9049,
 10665,
 14737,
 21153,
 6530,
 3955,
 19409,
 20167,
 15080,
 14914,
 2747,
 3468,
 9940,
 11678,
 20350,
 2320,
 4484,
 2211,
 18428,
 21698,
 16365,
 16836,
 19844,
 8298,
 37,
 11635,
 3570,
 13322,
 17602,
 11646,
 21727,
 12754,
 19268,
 7458,
 2330,
 8053,
 2570,
 5761,
 10937,
 5808,
 19703,
 19631,
 11712,
 9510,
 5409,
 16420,
 1963,
 14558,
 18390,
 18994,
 13354,
 13300,
 16901,
 18123,
 19943,
 16204,
 9863,
 5361,
 5097,
 12114,
 8195,
 690,
 1300,
 4620,
 10769,
 4232,
 15773,
 9692,
 2157,
 13445,
 11076,
 3050,
 15848,
 13077,
 15362,
 6902,
 15966,
 21358,
 2808,
 747,
 6994,
 2775,
 206,
 13776,
 332,
 1157,
 497,
 7796,
 12007,
 3941,
 21449,
 12782,
 8056,
 10226,
 10119,
 16267,
 14457,
 10444,
 11405,
 4897,
 5162,
 5971,
 5612,
 12105,
 17491,
 4272,
 2059,
 17983,
 9142,
 8911,
 16993,
 9172,
 10197,
 2874,
 16616,
 2276,
 9213,
 14199,
 6198,
 12929,
 6169,
 1678,
 16860,
 5952,
 9894,
 19043,
 2755,
 3438,
 8703,
 808,
 8886,
 269,
 8345,
 5825,
 10089,
 15556,
 6331,
 13194,
 7498,
 2196,
 21505,
 6665,
 12386,
 15700,
 11649,
 4048,
 2760,
 20169,
 20473,
 16458,
 246,
 15817,
 3154,
 906,
 12402,
 8530,
 10016,
 3297,
 9430,
 18378,
 19559,
 4197,
 19816,
 15714,
 12733,
 21453,
 16992,
 7616,
 219,
 6014,
 9607,
 92,
 18726,
 7957,
 20262,
 7850,
 10817,
 19326,
 6784,
 599,
 7330,
 3207,
 15865,
 12991,
 7388,
 9312,
 19184,
 13872,
 5887,
 3637,
 8098,
 20270,
 21616,
 11851,
 12325,
 1658,
 5978,
 3471,
 3446,
 1234,
 4265,
 13034,
 226,
 2738,
 20206,
 12553,
 14514,
 15016,
 17694,
 11887,
 6682,
 9434,
 13540,
 13254,
 6039,
 10828,
 15403,
 11258,
 12419,
 8837,
 19481,
 20039,
 7324,
 13531,
 20363,
 5628,
 14704,
 1298,
 14854,
 362,
 1573,
 12604,
 11820,
 10425,
 12814,
 21474,
 17764,
 2878,
 18068,
 7334,
 4183,
 19097,
 12959,
 18433,
 12755,
 563,
 283,
 14045,
 11273,
 6156,
 13178,
 1125,
 7374,
 7711,
 19723,
 2155,
 18249,
 12067,
 3743,
 12461,
 14659,
 4402,
 14383,
 16758,
 717,
 8106,
 8332,
 9284,
 10404,
 12983,
 19574,
 12921,
 13062,
 15649,
 3279,
 13895,
 10585,
 17192,
 12618,
 17549,
 1916,
 12136,
 21121,
 12488,
 20871,
 224,
 15884,
 15032,
 10786,
 5814,
 9800,
 4462,
 4737,
 19857,
 10294,
 4422,
 19411,
 19061,
 11393,
 13222,
 13290,
 15543,
 19287,
 17161,
 2418,
 11377,
 5028,
 17795,
 2698,
 5059,
 2812,
 19319,
 4013,
 1674,
 19861,
 7185,
 10387,
 8847,
 19270,
 9210,
 9989,
 1042,
 19809,
 14551,
 20040,
 433,
 12747,
 19964,
 9219,
 14281,
 5867,
 13508,
 15655,
 5909,
 5480,
 14796,
 5970,
 8271,
 19193,
 2185,
 12894,
 15874,
 17750,
 6897,
 8415,
 17746,
 4482,
 17529,
 715,
 12907,
 14596,
 2104,
 3270,
 20063,
 20926,
 4257,
 18347,
 8226,
 11380,
 9585,
 5967,
 19634,
 4322,
 18728,
 12938,
 90,
 21214,
 15550,
 16376,
 17133,
 5084,
 9386,
 5415,
 9906,
 21115,
 6394,
 12460,
 12036,
 20257,
 11943,
 3568,
 17846,
 20440,
 18673,
 3246,
 4445,
 13456,
 17346,
 5256,
 18951,
 11091,
 5886,
 13455,
 6178,
 11781,
 20296,
 7371,
 20160,
 14210,
 17174,
 20555,
 1697,
 21106,
 614,
 17288,
 11778,
 11048,
 2213,
 12041,
 17375,
 4391,
 12900,
 9658,
 20168,
 10257,
 6273,
 10905,
 3416,
 19331,
 15710,
 13504,
 17267,
 7564,
 2273,
 8047,
 16032,
 13356,
 1131,
 8399,
 9278,
 8483,
 18131,
 12464,
 16290,
 5082,
 19101,
 12225,
 7342,
 9270,
 17919,
 8456,
 1209,
 6723,
 5968,
 21282,
 20932,
 9541,
 12029,
 15569,
 10819,
 5608,
 6301,
 20220,
 235,
 7565,
 9660,
 13050,
 15725,
 7841,
 19572,
 17117,
 17910,
 1030,
 21682,
 2361,
 20820,
 2707,
 2756,
 17900,
 17517,
 13137,
 15214,
 9767,
 4181,
 4650,
 2903,
 12258,
 860,
 15135,
 9501,
 11111,
 11310,
 9127,
 8816,
 10028,
 12937,
 7664,
 20658,
 4497,
 12396,
 1100,
 18650,
 16035,
 21737,
 9515,
 16046,
 4958,
 16876,
 3712,
 3952,
 20709,
 20523,
 15915,
 19071,
 13885,
 3111,
 2862,
 12445,
 6955,
 15631,
 7166,
 11694,
 15745,
 13527,
 4424,
 14582,
 5295,
 3205,
 4881,
 11804,
 9133,
 13541,
 13100,
 8094,
 9139,
 12585,
 20025,
 1448,
 17465,
 12895,
 16410,
 15949,
 12268,
 10489,
 627,
 9214,
 8958,
 12486,
 10160,
 3262,
 1108,
 1496,
 547,
 8354,
 9959,
 20130,
 7605,
 1699,
 8863,
 12288,
 13451,
 543,
 20335,
 6332,
 8790,
 2782,
 6239,
 8130,
 1931,
 10460,
 11107,
 5934,
 15058,
 13918,
 1397,
 18965,
 20604,
 16225,
 5758,
 327,
 15890,
 17406,
 21766,
 15664,
 10448,
 5860,
 17100,
 10848,
 7265,
 14838,
 623,
 280,
 11475,
 13771,
 7583,
 13513,
 9295,
 ...]